<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="my.example.myexpandablelistview"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="11" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="my.example.myexpandablelistview.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="my.example.myexpandablelistview.lesson2.MainActivity" />
        <activity android:name="my.example.myexpandablelistview.lesson3.DownloadQueueActivity"/>
        <activity android:name="my.example.myexpandablelistview.lesson3.StrartActivityLesson3"/>
        <activity android:name="my.example.myexpandablelistview.lesson3.AsyncTaskSimpleActivity"/>
        <activity android:name="my.example.myexpandablelistview.lesson2.SecondActivity"/>
        <activity android:name="my.example.myexpandablelistview.lesson2.ThirdActivity"/>
        <activity android:name="my.example.myexpandablelistview.lesson2.FourthActivity"/>
    </application>

</manifest>
